html {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='100%' preserveAspectRatio='none' viewBox='0 0 1500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask9983%26quot%3b)' fill='none'%3e%3crect width='1500' height='1000' x='0' y='0' fill='rgba(105%2c 27%2c 157%2c 1)'%3e%3c/rect%3e%3cpath d='M563 909L562 230' stroke-width='6' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M929 195L928 -419' stroke-width='10' stroke='url(%23SvgjsLinearGradient9985)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M349 205L348 -226' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M700 956L699 1543' stroke-width='8' stroke='url(%23SvgjsLinearGradient9985)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1242 379L1241 -137' stroke-width='10' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M998 957L997 1367' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M623 785L622 469' stroke-width='8' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M163 389L162 749' stroke-width='6' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1395 695L1394 383' stroke-width='10' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1095 144L1094 449' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M219 293L218 858' stroke-width='8' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M530 101L529 -391' stroke-width='6' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M388 445L387 1138' stroke-width='6' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M668 259L667 -245' stroke-width='6' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M364 305L363 -261' stroke-width='10' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1137 675L1136 1229' stroke-width='6' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M645 451L644 -236' stroke-width='8' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1181 150L1180 796' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1230 959L1229 1463' stroke-width='10' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1331 34L1330 -649' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M47 399L46 981' stroke-width='8' stroke='url(%23SvgjsLinearGradient9985)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1237 687L1236 1152' stroke-width='10' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M158 482L157 100' stroke-width='8' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M181 460L180 -287' stroke-width='8' stroke='url(%23SvgjsLinearGradient9985)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M792 479L791 -88' stroke-width='10' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M888 49L887 -563' stroke-width='10' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1233 713L1232 1048' stroke-width='10' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1253 751L1252 1173' stroke-width='6' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1257 267L1256 -43' stroke-width='10' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M437 552L436 -158' stroke-width='6' stroke='url(%23SvgjsLinearGradient9985)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1198 398L1197 -202' stroke-width='10' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M724 525L723 216' stroke-width='6' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M677 784L676 243' stroke-width='10' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M988 439L987 1021' stroke-width='8' stroke='url(%23SvgjsLinearGradient9986)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1269 106L1268 781' stroke-width='10' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M325 889L324 1200' stroke-width='8' stroke='url(%23SvgjsLinearGradient9984)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M408 939L407 359' stroke-width='8' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M240 358L239 -273' stroke-width='6' stroke='url(%23SvgjsLinearGradient9987)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask9983'%3e%3crect width='1500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient9984'%3e%3cstop stop-color='rgba(225%2c 25%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(225%2c 25%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient9985'%3e%3cstop stop-color='rgba(188%2c 134%2c 231%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(188%2c 134%2c 231%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient9986'%3e%3cstop stop-color='rgba(188%2c 134%2c 231%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(188%2c 134%2c 231%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient9987'%3e%3cstop stop-color='rgba(225%2c 25%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(225%2c 25%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    scroll-behavior: smooth;
    overflow: overlay;
}

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
    margin-block: 2px;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(127, 255, 212, 0.772);
    border-radius: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    text-align: right;
    font-size: 2em;
    padding-right: 1em;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

li>* {
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: aquamarine;
    font-family: sans-serif;
    font-weight: bold;
}

section {
    text-align: center;
    height: 88vh;
    color: aqua;
    font-family: sans-serif;
    padding-top: 1rem;
}

section:nth-of-type(2n) {
    background-color: rgb(225, 67, 225);
    box-shadow:
        inset 0px 25px 15px -15px rgb(138, 4, 153),
        inset 0px -25px 15px -15px rgb(138, 4, 153);
}

section:last-child {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1085%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(225%2c 67%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M117.94 636.96C309.02 629.47 446.26 324.27 813.16 317.96 1180.05 311.65 1330.51 167.63 1508.37 166.76' stroke='rgba(138%2c 4%2c 153%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M545.4 576.55C677.04 575.95 788.92 471.57 1060.43 467.04 1331.95 462.51 1434.03 237.32 1575.47 231.84' stroke='rgba(138%2c 4%2c 153%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M513.61 603.14C684.16 589.17 803.63 244.69 1096.63 244.54 1389.62 244.39 1522.01 480.66 1679.64 485.34' stroke='rgba(138%2c 4%2c 153%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M306.7 637.73C435.92 631.18 533.94 404.46 768.39 403.83 1002.84 403.2 999.23 473.83 1230.07 473.83 1460.92 473.83 1575.02 404.03 1691.76 403.83' stroke='rgba(138%2c 4%2c 153%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M635.64 607.73C746.41 594.39 706.96 352.47 996.78 345.53 1286.6 338.59 1534.58 195.14 1719.06 194.33' stroke='rgba(138%2c 4%2c 153%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1085'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:
        inset 0px 25px 15px -15px rgb(138, 4, 153),
        inset 0px -25px 15px -15px rgba(138, 4, 153, 0);
    height: 100vh;
}

#section-header {
    font-size: rem;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    font-size: 4rem;
}

#about {
    overflow: auto;
}

#about-me-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

#face-img {
    margin-left: 200px;
    height: 450px;
    width: 500px;
    transform: rotate(-5deg);
    /* border-radius: 30% 60% 60% 40% / 20% 20% 60% 60%; */
    border-radius: 50%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    /* animation: morphing 10s infinite; */
    overflow: hidden;
}

#about-me-text {
    font-size: 2rem;
    color: white;
    text-align: left;
    margin-right: 100px;
    height: 450px;
    width: 750px;
}

#about-me-text:hover {
    animation: fade-right 1s ease-in;
}

#project-section {
    overflow: auto;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects>* {
    margin-right: 10rem;
    margin-left: 10rem;
}

.project-title{
    font-size: 20px;
}

.project-imgs {
    height: 200px;
    width: 350px;
}

.project-imgs:hover {
    opacity: 0.85;
}

#contact-div {
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-right: 50%;
    margin-left: 5%;
    margin-top: 4%;
}

#icons-div {
    display: flex;
    flex-direction: row;
}

#icons-div>* {
    margin: 20px;
}

i {
    color: white;
    font-size: 70px;
}

a {
    text-decoration: none;
    height: 50px;
    width: 50px;
}

.active {
    color: white;
    padding-bottom: 7px;
    border-bottom: 2px solid white;
}

/* animations */
@keyframes morphing {
    0% {
        border-radius: 30% 60% 60% 40% / 20% 20% 60% 60%;
        /* box-shadow: 15px 15px 50px rgba(0,0,0,0.2); */
    }

    20% {
        border-radius: 48% 32% 65% 15% / 66% 36% 44% 14%;
    }

    40% {
        border-radius: 40% 40% 23% 57% / 45% 17% 63% 35%;
        /* box-shadow: -10px -5px 50px rgba(0,0,0,0.2); */
    }

    60% {
        border-radius: 23% 57% 48% 32% / 53% 58% 22% 27%;
    }

    80% {
        border-radius: 65% 29% 48% 32% / 53% 28% 50% 43%;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: none;
    }
}